{% extends 'incFiles/basic.html' %} 
{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb container">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Account</li>
  </ol>
</nav>
{% if user.is_authenticated %}
<div class="container mb-5">
  <div class="row">
    <div class="col-md-3">{% include "incFiles/my_ac_list.html" %}</div>
    <div class="col-md-9">
      {% if "make_changes" in request.path %}
      <p class="h3 font-weight-bold accent-color">My Information</p>
      <form action="/make_changes" method="POST">
        {% csrf_token %}
        <div class="row mt-4">
          <div class="col">
            <label for="">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="John"
              value="{{user.first_name}}"
              name="fname"
            />
          </div>
          <div class="col">
            <label for="">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Deo"
              value="{{user.last_name}}"
              name="lname"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <label for="">Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              value="{{user.username}}"
              disabled
            />
          </div>
          <div class="col">
            <label for="">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="yourname@email.com"
              value="{{user.email}}"
              name="email"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-dark mt-4">
          Submit Changes
        </button>
      </form>
      {% else %}
      <p class="h3 font-weight-bold accent-color">My Information</p>
      <div class="row mt-4">
        <div class="col">
          <label for="">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="John"
            value="{{user.first_name}}"
            disabled
          />
        </div>
        <div class="col">
          <label for="">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Deo"
            value="{{user.last_name}}"
            disabled
          />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <label for="">Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            value="{{user.username}}"
            disabled
          />
        </div>
        <div class="col">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="yourname@email.com"
            value="{{user.email}}"
            disabled
          />
        </div>
      </div>
      <a href="my_account/make_changes" class="btn-text">
        <button class="btn btn-sm btn-dark mt-4">Make Changes</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% else %} {% include 'incFiles/ac_login.html' %} 
{% endif %} {% endblock body %}
